# ShellCheck設定
# https://www.shellcheck.net/wiki/

# SC1091: source先のファイルが見つからない
# dotfilesでは source "$HOME/.zsh/foo.zsh" のように変数を含むパスが多く、
# ShellCheckがファイルを追跡できないため無効化
disable=SC1091

# SC2119: $1を使う関数を引数なしで呼び出している
# 引数省略でデフォルト動作させる設計のため無効化
disable=SC2119
