[
  {
    "name": "Email (Personal)",
    "text": "your-email@example.com",
    "keyword": ":mail"
  },
  {
    "name": "Email (Work)",
    "text": "your-work@company.com",
    "keyword": ":wmail"
  },
  {
    "name": "Phone",
    "text": "090-XXXX-XXXX",
    "keyword": ":tel"
  },
  {
    "name": "Address",
    "text": "東京都XX区XX町X-X-X",
    "keyword": ":addr"
  },
  {
    "name": "Zip Code",
    "text": "XXX-XXXX",
    "keyword": ":zip"
  }
]
